<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="IISExpressPath" value="C:\Program Files (x86)\IIS Express\"/>
    <add key="MSBuildPath" value="C:\Program Files (x86)\MSBuild\14.0\Bin\"/>
    <add key="ProviderInvariantName" value="System.Data.SqlClient"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>