<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IISExpressPath" value="C:\Program Files (x86)\IIS Express\" />
    <add key="MSBuildDirectory" value="C:\Program Files (x86)\MSBuild\" />
    <add key="ProviderInvariantName" value="System.Data.SqlClient" />
    <add key="NuGetClientURL" value="https://dist.nuget.org/win-x86-commandline/latest/nuget.exe" />
    <add key="MsBuildDownloadInstructionsUri" value="https://www.microsoft.com/en-us/download/details.aspx?id=48159" />
    <add key="MsBuildDownloadInstallerUri" value="https://download.microsoft.com/download/E/E/D/EEDF18A8-4AED-4CE0-BEBE-70A83094FC5A/BuildTools_Full.exe" />
    <add key="IISExpressDownloadInstructionsUri" value="https://www.microsoft.com/en-us/download/details.aspx?id=48264" />
    <add key="IISExpressDownloadInstaller32Uri" value="https://download.microsoft.com/download/C/E/8/CE8D18F5-D4C0-45B5-B531-ADECD637A1AA/iisexpress_x86_en-US.msi" />
    <add key="IISExpressDownloadInstaller64Uri" value="https://download.microsoft.com/download/C/E/8/CE8D18F5-D4C0-45B5-B531-ADECD637A1AA/iisexpress_amd64_en-US.msi" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>